/* general  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

main {
    width: 100%;
}


/* Header */
header {
    display: grid;
    grid-template-rows: 1fr;
}

img {
    width: 100px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    display: none;
}

#menu::before {
    content: "≡";
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 1px solid black;

}
li a:active, li a:hover {
    background-color: black;
    color: white;
}

.primetime li {
    display: block;
    text-align: center;
    font-size: x-large;
}
.primetime ul {
    background-color: red;
}

/* Grid button layout */
h1 {
    text-align: center;
}
.bcards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    text-align: center;
}

.bcards section {
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px black;
    width: 300px;
    height: 300px;
    padding-bottom: 1rem;
    border: 1px solid black;
}
    

.bcards img {
    width: 150px;

}

.bcards a {
    word-break: break-word;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}






.bcards section h2 {
    margin-top: 1rem;
    
}

.center {
    text-align: center;
    margin: 1rem;
}

button {
    padding: .5rem 1rem;

}

/* list */

.list section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

#company-displays.list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}


#company-displays.list section {
    width: 90%;
    height: 75px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;

}

#company-displays.list section:nth-child(even) {
    background-color: #bbb;
}

#company-displays.list a {
    display: none;
}

#company-displays.list p:last-child {
    display: none;



}


#company-displays.list img {
    display: none;
}





@media (min-width: 400px) {
    .bcards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header {
        background-color: lightblue;
        margin-bottom: 2rem;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr;
        background-color: lightblue;
        margin-top: 2rem;
    }
}