@media only screen and (min-width: 62rem) {
    .items section {
        grid-template-areas: 
        "photo"
        "name"
        "description"
        "learnmore";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin: 0;
        
        
    }
    .items section img {
        width: 100%;
        height: 150px;
        margin-top: 0;
        padding: 0;
    }
    .items section h3 {
        margin: 1rem;
        text-decoration: underline;
    }
    
}