@media (min-width: 62rem) {
    .items {
        display: grid;
        grid-template-areas: 
        "photo name"
        "photo description";
    }
    .items section h3 {
        grid-area: name;
    }
    .items section img {
        grid-area: photo;
    }
    .items section p {
        grid-area: description;
    }
    
}