@media only screen and (min-width: 32rem) {
    .bcards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header {
        background-color: rgba(0, 0, 0, 0.829);
        margin-bottom: 2rem;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr;
        background-color: rgba(0, 0, 0, 0.829);
        margin-top: 2rem;
        color: white;
    }

    footer p {
        padding: .5rem;
    }

    footer img {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer h2 {
        margin-top: .5rem;
    }

    /* Home-large Layout */
    .big-head {
        display: flex;
        justify-content: space-between;
        align-items: end;
        background-color: black;
    }

    section.naver {
        display: flex;
        justify-content: space-around;

    }

    section.naver a {
        display: flex;
        justify-content: space-around;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    section.naver a:hover,
    section.naver:active {
        color: black;
        background-color: white;
    }

    ul li {
        display: contents;


    }

    ul {
        display: flex;




    }

    #menu {
        display: none;
    }

    .wide-screen {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;

    }

    .business-wide {
        display: grid;

    }

    .business {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .items section {
        grid-template-areas: 
        "photo photo"
        "name description"
        "learnmore learnmore"
        ;
        grid-template-rows: 1fr 1fr 1fr;
        place-content: center;
        grid-template-columns: 1fr;
        width: 100%;
        overflow: hidden;
    }
    .items section img {
        width: 100%;  
           
    }
    .items section img:hover, .items section img:active {
        border: 2px solid white;
    }
    .items section p {
        width: 100%;
        margin: 1rem;
    }
    .items section h3 {
        margin-left: .5rem;
    }
    





}