/* general  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}


/* Header */
header {
    display: grid;
    grid-template-rows: 1fr;
}

img {
    width: 100px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    display: none;
}

#menu::before {
    content: "≡";
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;

}

.showtime li {
    display: block;
}

/* Grid button layout */

.bcards {
    display: grid;
    grid-template-rows: repeat(autofit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
    text-align: center;
}

.bcards section {
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px black;
    width: 300px;
    height: 300px;
    padding-bottom: 1rem;
    border: 1px solid black;

    h2 {
        margin-top: 1rem;
    }

    img {
        width: 150px;

    }

    a {
        word-break: break-word;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
    }





}

.center {
    text-align: center;
    margin: 1rem;
}

button {
    padding: .5rem 1rem;

}

/* list */

.list section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

#company-displays.list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;



    section {
        width: 90%;
        height: 75px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;

    }

    section:nth-child(even) {
        background-color: #bbb;
    }

    a {
        display: none;
    }

    p:last-child {
        display: none;



    }
}

.list img {
    display: none;
}





@media (min-width: 400px) {
    .bcards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header {
        background-color: lightblue;
        margin-bottom: 2rem;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr;
        background-color: lightblue;
        margin-top: 2rem;
    }
}