* {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
.headbutt {
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgba(0, 0, 0);
    margin-top: 2rem;
    color: white;
}

footer p {
    padding: .5rem;
}

footer img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer h2 {
    margin-top: .5rem;
}



header {
    display: grid;
    grid-template-rows: 1fr;
    

}

img {
    width: 100px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: end;
    background-color: rgba(0, 0, 0);
    color: white;
    

}
.header span {
    padding-bottom: .5rem;
    padding-left: .5rem;
    font-size: larger;
}

.header img {
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

ul {
    list-style: none;
}

ul li {
    display: none;
}

ul li a {
    color: white;

}

#menu::before {
    content: "≡";
    color: white;

}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 1px solid black;
    border-radius: 10%;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(145, 132, 62);


}

li a:active,
li a:hover {
    background-color: black;
    color: white;
}

.itstime li {
    display: block;
    text-align: center;
    font-size: x-large;

}

.itstime ul {
    background-color: rgb(145, 132, 62);
    padding-bottom: 1rem;
}

.fighters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    place-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.fighters section {
    background-color: black;
    display: grid;
    grid-template-areas:
        "photo"
        "name"
        "record"
    ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.007);
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
    max-width: 350px;
    height: 300px;
    padding-bottom: 1rem;
    border: 1px solid black;
    margin: 1rem;
}

.fighterphoto {
    grid-area: photo;
    aspect-ratio: 250 / 167;
    border: 1px solid gold;
    box-shadow: 0 0 20px gold;
    width: 90%;


}

.fighter-name {
    grid-area: name;
    margin: 0;
    color: white;

}

.dob {
    grid-area: dob;
    margin: 0;
    display: none;
}

.style {
    grid-area: styles;
    margin: 0;
    display: none;
}

.birthplace {
    grid-area: birth;
    margin: 0;
    display: none;
}

.record {
    grid-area: record;
    margin: 0;
    color: white;

}

form {
    display: flex;
    flex-flow: column;
}

fieldset {
    display: flex;
    flex-flow: column;
}

/* Index mobile css */

.gridman {
    display: grid;
    width: 100%;
    gap: 25px;
    background-color: white;
    place-items: center;


}

.gridman article {
    margin: 1rem;
}

.gridman article img {
    width: 100%;
}

.top-dog {
    display: grid;
}

.label {
    text-decoration: underline;
    text-align: center;

}


.top-dog section {
    background-color: gold;
    display: grid;
    grid-template-areas:
        "name"
        "photo"
        "record"
        "rank";
    box-shadow: 0 0 20px black;
    grid-template-columns: 1fr;
    margin: 1rem;
    place-items: center;
    width: 100%;
    max-width: 350px;
    min-height: 380px;
    padding: 1.5rem;
    border: 1px solid black;
    box-sizing: border-box;

}

#fighterphoto {
    grid-area: photo;
    width: 250px;
    height: 167px;
    object-fit: cover;
    background-color: #eee;

}

#bestname {
    grid-area: name;
    margin: .5rem;


}

#fighterrecord {
    grid-area: rank;
    margin: 0.5rem 0 0 0;

}

#bestrecord {
    grid-area: record;
    margin-bottom: 0.2rem;
}

#fight-card {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 1rem;
    background-color: white;
}

#fightcard section {
    margin: 1rem;
    border: 1px solid black;

}

#cardevent {
    border: 1px solid black;
    width: 100%;
    margin: 1rem;
    background-color: rgb(233, 233, 233);
}

.events-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    place-items: center;
    text-align: center;
    width: 100%;
    
}

#title-event {
    text-align: center;
    font-size: xx-large;
    background-color: gold;
    margin: 1rem;
    padding: 15px;
    border: 1px solid black;
}
#fight-card>section {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}