@media only screen and (min-width: 62rem) {
    .bigtime {
            display: flex;
            justify-content: space-between;
            align-items: end;
            background-color: black;
        }
    
        section.navy {
            display: flex;
            justify-content: space-around;
    
        }
    
        section.navy a {
            display: flex;
            justify-content: space-around;
            padding-right: 2rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
    
        section.navy a:hover,
        section.navy:active {
            color: black;
            background-color: white;
        }
    
        ul li {
            display: contents;
    
    
        }
    
        ul {
            display: flex;
    
    
    
    
        }
    
        #menu {
            display: none;
        }


    .gridman {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    article img {
        position: relative;
    }
    
    .top-dog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #fight-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    

}