@media only screen and (min-width: 32rem) {
    

    header {
        background-color: rgba(0, 0, 0, 0.829);
        margin-bottom: 2rem;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr;
        background-color: rgba(0, 0, 0, 0.829);
        margin-top: 2rem;
        color: white;
    }

    footer p {
        padding: .5rem;
    }

    footer img {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer h2 {
        margin-top: .5rem;
    }

    /* Home-large Layout */
    
    .gridman {
        display: grid;
         
    }
    article img  {
        display: none;
    }
    .top-dog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 50px;
        place-items: center;
        text-align: center;
        width: 100%;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        background-image: url('../images/octagonhero.webp');
        
        

    }
    .label {
        text-align: center;
    }
    .events-container {
        grid-template-columns: 1fr;
        
        
    }
    #fight-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        gap: 20px;
        padding: 20px;
        
        
    }
    #fight-card > section {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid black;
    }
    #title-event {
        text-align: center;
        font-size: xx-large;
        background-color: gold;
        margin: 1rem;
        padding: 15px;
        border: 1px solid black;
    }
    @keyframes fadeColor {
        from {
            background-color: black;
        }

        to {
            background-color: gold;
        }
    }

    
    #fighter-info {
        padding: 2rem;
        border: none;
        border-radius: 7%;
        box-shadow: 0 0 20px;
        max-width: 300px;
        width: 90%;
        margin: auto;
        animation-name: fadeColor;
        animation-duration: 3s;
        background-color: gold;

    }

    
    #fighter-info::backdrop, #member-info {
        background-color: rgb(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
    }

    
    #fighter-modal {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        line-height: 1.5;
        
    }
    #fightcard-modal {
        display: flex;
        flex-flow: column;
        justify-content: left;
        align-items: center;
        
    }
    #fightcard-modal img {
        width: 90%;
        padding-bottom: .2rem;
    }
    #close-fightcard-modal {
        margin: 1rem;
    }

    
    #close-fighter-modal {
        margin: 1rem;

    }
    #fightmembermodal {
        display: flex;
        flex-flow: column;
        justify-content: left;
        align-items: center;
    }
    #fightmember-info {
        padding: 2rem;
        border: none;
        border-radius: 7%;
        box-shadow: 0 0 20px;
        max-width: 300px;
        width: 90%;
        margin: auto;
        
        
    }
    #close-member-modal {
        margin: 1rem;
    }
    #member-card {
        display: flex;
        flex-flow: column;
        margin-left: 1rem;
        align-items: center;
        height: auto;
    }
    #member-card section {
        border: 1px solid black;
        width: 80%;
        display: flex;
        flex-flow: column;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        
    
    }
    .bigform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    
    }
   