* {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}
.headbutt {
    background-color: black;
    color: white;
}
 footer {
    background-color: black;
    width: 100%;
    height: 100px;
    
}
footer a  {
    color: white;
    margin-left: 1rem;
}
main {
    background-color: gold;
    margin: 1rem;
    border: 1px solid black;
}

